.user-update-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
}

.user-update-form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
}

.user-update-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #777;
    color: #fff;
    cursor: pointer;
}

.user-update-form button:hover {
    background-color: #999;
}